:root {
    font-size: calc(100vw / 40);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

a {
    font-size: 0.5rem;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

p,
li {
    font-size: 16px;
}

.logo2 {
    margin-left: -10px;
}

.hamburger-menu {
    display: none;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 10px 0;
    background-color: white;
}

nav {
    display: flex;
    gap: 1rem;
}

.navlink {
    color: black;
}

.navlink:hover {
    color: #FF3B41;
}

#hero {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120vh;
    display: flex;
    align-items: flex-end;
    padding: 40px 0;
    background-position: center;
}

#hero h1 {
    margin-bottom: 40px;
    color: #AEE8FB;
}

section {
    padding: 60px 0;
}

section:nth-child(10) {
    padding: 0;
}

.discover-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.discover-txt {
    max-width: 895px;
    width: 100%;
    text-align: center;
}

.btn {
    color: black;
    padding: 8px 12px;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 10px;
}

.btn:hover {
    background-color: black;
    color: white;
}

#provide {
    background-color: #F3E9E2;
}

#provide h2 {
    line-height: 1.2em;
}

#our-programs .our-programs-title {
    font-size: 1.5vw;
    margin-bottom: 32px;
}

.our-programs-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.our-programs-cards-card {
    flex: 1 1 30%;
    max-width: 400px;
    min-width: 300px;
    display: grid;
    place-items: center;
    background-color: #AEE8FB;
    height: 620px;
    padding: 16px;
    border-radius: 12px;
}

.our-programs-cards-card img {
    width: 100%;
    margin-bottom: 8px;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card-info p {
    text-align: center;
}

.our-programs-cards-card:nth-child(2) {
    background-color: #F3E9E2;
}

#paycheck {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paycheck-box {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.paycheck-left,
.paycheck-right {
    width: 48%;
}

.paycheck-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paycheck-right {
    background-color: #F3E9E2;
    display: grid;
    place-items: center;
    padding: 60px;
    border-radius: 20px;
    align-self: stretch;
}

.number-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number-line {
    height: 120px;
    width: 5px;
    background-color: black;
    border-radius: 5px;
}

.number-card {
    display: grid;
    place-items: center;
    padding: 0 32px;
}

.numbers-title {
    text-align: center;
    margin-bottom: 40px;
}

#moving-ad {
    background-color: #F3E9E2;
    height: 208px;
    display: grid;
    place-items: center;
}

#moving-ad h1 {
    padding: 20px 0;
    font-size: 3rem;
}

.free-resources-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.free-resources-title {
    font-size: 0.5rem;
    margin-bottom: 40px;
}

.free-resources-card {
    padding: 16px;
    background-color: #AEE8FB;
    border-radius: 10px;
    flex: 1 1 30%;
    max-height: 400px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.free-resources-card a {
    align-self: flex-end;
}

.free-resources-card:nth-child(2) {
    background-color: #F3E9E2;
    color: #FF3B41;
}

.free-resources-card:nth-child(3) {
    background-color: #FF3B41;
    color: #F3E9E2;
}

.free-resources-card:nth-child(2) .btn {
    color: #FF3B41;
    border: 1px solid #FF3B41;
}

.free-resources-card:nth-child(3) .btn {
    color: #F3E9E2;
    border: 1px solid #F3E9E2;
}

#feedbacks {
    background-color: #F3E9E2;
}

#feedbacks p {
    text-transform: uppercase;
}

.feedbacks-box {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.feedbacks-comment {
    display: grid;
    place-items: center;
    gap: 12px;
}

.feedbacks-comment h1 {
    text-align: center;
}

.feedbacks-slide-icons i {
    font-size: 0.2rem;
    margin-right: 4px;
}

.feedbacks-slide-icons i:nth-child(1) {
    font-size: 8px;
}

#footer-banner img {
    width: 100%;
}

#transformation {
    padding: 80px;
}

.transformation-box {
    margin: 0 auto;
    width: 70%;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 40px;
}

footer {
    background-color: #F3E9E2;
}

.footer-box {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-right {
    display: grid;
    gap: 48px;
}

.footer-right ul {
    list-style-type: none;
}

.footer-right p:last-child {
    margin: 60px 0 0 160px;
}


@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 1200px) {
    :root {
        font-size: calc(100vw / 35);
    }

    .container {
        max-width: 1140px;
    }

    #hero {
        min-height: 80vh;
    }

    #our-programs .our-programs-title {
        font-size: 2rem;
    }

    .paycheck-left,
    .paycheck-right {
        width: 100%;
    }

    .paycheck-box {
        flex-direction: column;
        gap: 20px;
    }

    .paycheck-right {
        padding: 40px;
    }

    .free-resources-card {
        flex: 1 1 30%;
        height: auto;
    }

    .number-card {
        padding: 0 20px;
    }

    .footer-right p:last-child {
        margin: 40px 0 0;
    }
}


@media (max-width: 768px) {
    :root {
        font-size: calc(100vw / 30);
    }

    .container {
        max-width: 720px;
        padding: 0 12px;
    }

    .our-programs-cards-card {
        max-width: 100%;
        min-width: 100%;
        height: auto;
    }

    #moving-ad {
        height: 40px;
    }

    #moving-ad h1 {
        font-size: 2rem;
    }

    .feedbacks-box {
        width: 100%;
    }

    .free-resources-card {
        flex: 1 1 100%;
        height: auto;
    }

    #transformation {
        padding: 20px 0;
    }

    .free-resources-title {
        font-size: 1.1rem;
        margin-bottom: 40px;
    }

    .footer-right {
        width: 100%;
        gap: 20px;
    }

    .footer-box {
        flex-direction: column;
        gap: 20px;
    }

    nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}