$color-white: #fff;
$color-royalblue: #2405f2;
$color-tintblue: #1c1e53;
$color-darkblue: #282938;
$color-textblack: #1b1c2b;
$color-grey: #f4f6fc;
$color-accent: #eef4fa;
$color-yellow: #fcd980;
$font-primary: "Poppins", sans-serif;
